.slick-list {
	height: 100vh !important;
}

.slick-prev:before,
.slick-next:before {
	font-size: 40px !important;
}

.slick-prev,
.slick-next {
	z-index: 1;
	width: 40px !important;
	height: 40px !important;
}
.slick-prev {
	left: 10px !important;
}

.slick-next {
	right: 10px !important;
}
