.landing-logo-container {
	position: relative;
	display: flex;
	justify-content: center;

	.landing-logo {
		position: absolute;
		align-self: center;
	}

	.landing-video {
		width: 100%;
		height: 100vh;
		object-fit: cover;
	}
}
