.user-container {
	display: flex;
	height: 100vh;

	.user-info-container {
		flex-direction: column;
		margin: auto;

		.user-avatar {
			width: 192px;
			margin-bottom: 30px;
			border-radius: 50%;
			border-color: white;
			border-style: solid;
			align-self: center;
		}

		.user-display-name {
			font-weight: bold;
			font-size: 35px;
			margin-bottom: 0px;
		}

		.user-username {
			font-size: 22px;
			margin-top: 0px;
		}

		.user-bio {
			white-space: pre-wrap;
			margin-top: 20px;
			font-size: 18px;
		}
	}
}

.view-bytes-button {
	width: 100%;
	margin-top: 10px;
	padding: 7px 20px;
	height: auto;
	display: flex;
	font-size: 15px;
	font-weight: bold;
	justify-content: center;
}
