.empty-state-videos {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 20px;

	.logo {
		width: 48px;
		height: 48px;
		position: absolute;
		top: 20px;
		left: 20px;
	}

	.empty-tv-icon {
		width: 60px;
		height: 75px;
		margin-bottom: 20px;
	}

	.empty-state-videos-button {
		margin-top: 20px;
	}
}

@media screen and (max-width: 992px) {
	.empty-state-videos {
		height: auto;
		margin-top: 50px;
	}
}
