.explore-container {
	height: 100vh;
	padding: 10px;
	overflow-y: auto;
}
.explore-search {
	display: flex;
	padding: 10px;

	.back-button {
		align-self: center;
		margin-right: 10px;
		background-color: transparent;
		border: none;
		color: white;
	}

	.ant-input-search input {
		height: 50px;
		border-radius: 50px;
	}
}

.explore-search-results-container {
	.ant-tabs-nav,
	.ant-tabs-nav .ant-tabs-tab-active {
		color: white;
		font-weight: bold;
	}
}

.explore-category-header {
	padding: 10px;
	font-weight: bold;
	display: flex;
}

.explore-category-link {
	padding: 5px 10px;
	font-weight: bold;
	display: flex;
}

.explore-category-link-title {
	padding: 7px;
	border-radius: 5px;
}

.explore-category-main {
	width: 100%;
	height: 140px;
	border-radius: 20px;
	padding: 7px 5px;
	object-fit: cover;
}

.explore-category-main-container {
	position: relative;
	color: white;
	font-size: 25px;
	font-weight: bold;

	.title {
		position: absolute;
		left: 25px;
		bottom: 25px;
	}

	.description {
		position: absolute;
		left: 25px;
		bottom: 55px;
		font-size: 17px;
	}
}

.explore-category-container {
	color: white;
	background: black;
	font-size: 25px;
	font-weight: bold;
	border-radius: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 5px 5px;
}

.explore-category-icon {
	width: 128px;
}
