.video-container {
	position: relative;

	.byte-video {
		width: 100%;
		height: 100vh;
		object-fit: cover;
		cursor: pointer;
	}
}

.video-info-container {
	position: absolute;
	width: 100%;
	bottom: 15px;
	left: 15px;
	color: white;
	filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));

	.video-caption {
		font-size: 25px;
		padding-bottom: 10px;
		margin-right: 15px;
	}

	.video-caption-hashtag {
		color: white;
		font-weight: bold;
	}

	.user-info-container {
		display: flex;

		.user-avatar-container {
			align-self: center;

			.user-avatar {
				width: 48px;
				height: 48px;
				border-radius: 50%;
			}
		}

		.user-username {
			font-size: 20px;
			align-self: center;
			margin-left: 10px;
			color: white;
		}

		.timestamp {
			font-size: 13px;
			align-self: center;
			margin-left: 10px;
			width: 100%;
		}

		.video-stat-container {
			display: flex;
			margin-right: 20px;

			.video-stat-icon-container {
				color: white;
				display: flex;
				flex-direction: column;
				margin: 0px 7px;
				text-align: center;
				cursor: pointer;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.video-info-container {
		left: 10px;

		.video-caption {
			font-size: 20px;
		}

		.user-info-container {
			padding: 0px;

			.user-avatar-container {
				.user-avatar {
					width: 32px;
					height: 32px;
				}
			}

			.user-username {
				font-size: 15px;
				margin-left: 10px;
			}

			.timestamp {
				font-size: 10px;
			}

			.video-stat-container {
				margin-right: 20px;

				.video-stat-icon-container {
					margin: 0px 5px;
				}
			}
		}
	}
}
